//----------------------------------------------------------------------
// colors
//----------------------------------------------------------------------

$white:       #ffffff;
$grey:        #e5e5e5;
$light-grey:  #ececec;
$med-grey:    #999999;
$smart-grey:  #696969;
$dark-grey:   #666666;
$well-bg:     #f5f5f5;
